* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", "sans-serif";
}

:root {
    --mainColor: #7b5244;
    --subColor: #333;
}

.container {
    width: 80%;
    margin: auto;
}

a {text-decoration:none}

.list-unstyled {
    list-style: none;
}

.section-padding {
    padding: 40px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 25px;
}

.section-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.section-header .line {
    display: block;
    width: 100px;
    height: 2px;
    background: var(--subColor);
    margin: auto;
    transition: width 0.5s;
}

.section-header:hover .line {
    width: 150px;
}

.section-bullets {
    text-align: center;
    margin: 40px 0;
}

.section-bullets .section-bullet1,
.section-bullets .section-bullet2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 7;
}

.section-bullets .section-bullet1 {
    background-color: var(--mainColor);
    margin-right: 6px;
}

.section-bullets .section-bullet2 {
    background-color: #000;
    transition: transform 0.3s;

}

.section-bullets .section-bullet2:hover {
    background-color: var(--mainColor);
    transform: scale(1.3);
}

/* Header */

header {
    padding: 30px 0;
    position: relative;
    z-index: 1;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header-content img {
    flex: 1;
    max-width: 170px;
}

.header-content nav {
    flex: 3;
    text-align: center;
}

.header-content .login {
    flex: 1;
    text-align: right;
}

.header-content ul li,
.header-content ul li a {
    color: var(--subColor);
}

.header-content ul li {
    display: inline-block;
}

.header-content nav ul li .link-item {
    padding: 10px 25px;
    display: block;
    font-weight: bold;
    position: relative;
}

.header-content nav ul li .link-item:before,
.header-content nav ul li .link-item:after {
    content: "";
    position: absolute;
    border-color: var(--mainColor);
    border-style: solid;
    top: 0;
    left: 0;
    transition: transform 0.2s
}

.header-content nav ul li .link-item:before {
    border-width: 0 2px;
    width: 92%;
    height: 100%;
    transform: scale3d(1,0,1);
}

.header-content nav ul li .link-item:after {
    border-width: 2px 0;
    width: 95%;
    height: 91%;
    transform: scale3d(0,1,1);
    transform-origin: left;
}

.header-content nav ul li .link-item:hover:before {
    transform: scale3d(1,1,1);
}

.header-content nav ul li .link-item:hover:after {
    transform: scale3d(1,1,1);
    transition-delay: 0.2s;
}

.header-content .login ul li {
    padding: 10px;
    font-weight: bold;
}

.header-content .login ul li:last-child i {
    position: relative;
    margin-right: 15px;
}

.header-content .login ul li:last-child i:after {
    position: absolute;
    bottom: 0px;
    right: -11px;
    content: "0";
    background-color: var(--mainColor);
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 13px;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    width: 430px;
    background-color: #fff;
    border: 2px solid var(--mainColor);
    padding: 15px;
    margin-top: 36px;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.2s, visibility 0.2s;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.dropdown-menu ul {
    display: table-cell;
    text-align: left;
}

.dropdown-menu ul li:first-child a {
    margin-bottom: 10px;
    display: block;
    border-bottom: 1px dotted var(--subColor);
}

.dropdown-menu ul li {
    line-height: 1.7;
}

.dropdown-menu2 {
    position: absolute;
    background-color: #fff;
    border: 2px solid var(--mainColor);
    text-align: left;
    padding: 15px;
    line-height: 1.7;
    margin-top: 36px;
    width: 200px;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.2s, visibility 0.2s;
}

.dropdown:hover .dropdown-menu2{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}



/* Slider */
section.slider .slider-content {
    position: relative;
    
}

section.slider .bullets {
    position: absolute;
    left: 50%;
    bottom: 35px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
    

section.slider img {
    width: 100%;
}

 section.slider .bullets .bullet1,
 section.slider .bullets .bullet2 {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 2;
    border-radius: 50%;
    padding: 7;
}

section.slider .bullets .bullet1 {
    margin-left: 20px;
    background-color: #fff;
    transition: background 0.4s;
}

section.slider .bullets .bullet1:hover {
    background-color: #000;
}

section.slider .bullets .bullet2 { 
    background-color: #000;
}

.slider-content:hover .bullets {
    opacity: 1;
    visibility: visible;
}

/* category */

.category-items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.category-item {
    position: relative;
}

.category-item img {
    width: 100%;
    margin-bottom: 25px;
}

.category-item-subtitle {
    color: #888;
    font-weight: normal;
}

.category-item .icon {
    width: 40px;
    height: 40px;
    background: var(--mainColor);
    color: #fff;
    text-align: center;
    display: block;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s;
}

.category-item:hover .icon {
    opacity: 1;
    visibility: visible;
}

/* discount */

.discount {
    display: flex;
}

.discount-desc {
    flex: 2;
    background-color: #f7f3ef;
    padding: 110px 20px 20px 20px;
    position: relative;
}

.discount-desc .top {
    position: relative;
    padding-left: 60px;
    margin-bottom: 20px;
}

.discount-desc .top + p {
    line-height: 1.7;
}

.discount-desc .top .icon {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 50px;
    color: var(--mainColor);
}

.discount-desc .lines {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.discount-desc .lines span {
    display: inline-block;
    width: 50px;
    height: 2px;
    background: var(--mainColor);
    margin-left: 10px;
}

.discount-item {
    flex: 1;
    position: relative;
    height: 80%;
}

.discount-item:nth-child(2) {
    margin: 0 20px;

}

.discount-item-info {
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 1;
}

.discount-item-info h3 {
    font-weight: normal;
    color: var(--mainColor);
}

.discount-item-info h2 {
    font-size: 20;
}

.banner-img {overflow: hidden;}

.banner-img img {  
    transition: transform 0.5s;
}

.banner-img:hover img {
    transform: scale(1.06);
}

/* Sprites */
.sprites {
    display: flex;
    margin-top: 40px;
    margin-bottom: 55px;
}

.sprite-item {
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--mainColor);
}

.sprite-icon {
    background-image: url(../images/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
}

.sprite-icon-1 {
    background-position: center 5px;
    transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-1 {
    background-position: center -88px;
}

.sprite-icon-2 {
    background-position: center -180px;
    transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-2 {
    background-position: center -273px;
}

.sprite-icon-3 {
    background-position: center -366px;
    transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-3 {
    background-position: center -455px;
}

.sprite-icon-4 {
    background-position: center -549px;
    transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-4 {
    background-position: center -639px;
}

.sprite-icon-5 {
    background-position: center -734px;
    transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-5 {
    background-position: center -826px;
}

.sprite-item:last-child {
    border: none;
}

.sprite-info h3 {
    font-size: 17px;
}

.sprite-info span {color: #888}

/* Products Section */

.products {
    
}

.list-products {
    display: flex;
    justify-content: center;
}

.list-products li {
    margin: 10px 20px;
    font-weight: 700px;
}

.list-products li:first-child {color: var(--mainColor);}

.products-items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin: 30px 0;
}

.product-img {
    position: relative;
}

.product-img img {width: 100%;}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    visibility: hidden;
    opacity: 0;
    
    transition: transform 0.5s, visibility 0.3s;
}

.product-overlay ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.product-overlay ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--mainColor);
    color: #fff;
    text-align: center;
}

.product-overlay ul li i {line-height: 40px;}

.product-item:hover .product-overlay {
    transform: scaleX(1);
    visibility: visible;
    opacity: 1;
    
   
}

.product-info i {margin-top: 10px;}

.product-info .active {
    color: #ffb700;
}

.product-info .not-active {
    color: #cdcdcd;
}

.product-info span {
    display: block;
    margin: 5px 0;
}

/* Event */

.event {}

.event-img {
    margin-right: 20px;
    
}

.event-top {
    position: relative;
    padding-left: 60px;
    margin-bottom: 60px;
}

.event-content {
    display: flex;
    justify-content: space-between;
}

.event-desc {
    flex: 2;
    background-color: #f7f3ef;
    padding: 110px 20px 20px 20px;
    position: relative;
}

.event-icon {
    position: absolute;
    left: 0px;
    top: -6px;
    font-size: 50px;
    color: var(--mainColor);
}

.event-icon h4 {
    font-size: 40px;
    font-weight: 600;
}

.event-icon span {
    font-size: 14px;
    font-weight: 600;
}

/* Client */

.client-imgs {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 0 0;
}

.client-img {
    opacity: 0.8;
    transition: opacity 0.3s;
}

.client-img:hover  {
    opacity: 1;
}

/* Footer */

footer {
    background-color: #000;
    height: 470px;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-desc1 {
    margin-top: 70px;
    flex: 1.5;
    margin-right: 120px;
}

.footer-desc1 .footer-logo {
    margin-bottom: 50px;
}

.footer-desc1 p {
    color: #888;
    line-height: 1.5;
    margin-bottom: 40px;
}

.footer-desc1 .download-app1 {
    margin-right: 10px;
    cursor: pointer;
}

.footer-desc1 .download-app2 {
    cursor: pointer;
}

.footer-desc2 {
    margin-top: 70px;
    flex: 1;
}

.footer-desc2 h5 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
}

.footer-desc2 ul li a {
    color: #888;
    line-height: 2.3;
    font-size: 14px;
    transition: margin 0.3s;
}

.footer-desc2 ul li a:hover {
    color: #fff;
    margin-left: 5px;
}

.footer-desc3 {
    margin-top: 70px;
    flex: 1;
}

.footer-desc3 ul li a {
    color: #888;
    line-height: 2.3;
    font-size: 14px;
    transition: margin 0.3s;
}

.footer-desc3 ul li a:hover {
    color: #fff;
    margin-left: 5px;
}

.footer-desc3 h5 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
}

.footer-desc4 {
    margin-top: 70px;
    flex: 1;
}

.footer-desc4 h5 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 70px;
}

.footer-desc4 .input-sent {
    position: relative;
}

.footer-desc4 input {
    background-color: #000;
    border: none;
    outline: none;
    color: #888;
    border-bottom: 1px solid #888;
    width: 400px;
    max-width: 400px;
    padding: 5px 10px;
    font-size: 13px;
}

.footer-desc4 .sent-icon {
    color: #888;
    font-size: 25px;
    position: absolute;
    right: 6;
    bottom: 6;
    transition: color 0.3s;
}

.footer-desc4 .sent-icon:hover {color: var(--mainColor);}



.footer-desc4 ul {
    margin-top: 40px;
    margin-left: 10px;
}

.footer-desc4 ul li {
    display: inline-block;
}

.footer-desc4 ul li a i {
    color: #888;
    margin-right: 20px;
    transition: color 0.3s, transform 0.2s;
}

.hr-footer {
    color: #888;
    margin: 70px 0 20px 0;
}

.footer-copyright {
    color: #888;
    font-size: 14px;
    margin-top: 170px;
    margin-left: 10px;
    display: block;
}












